<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>TheEvent Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png')}}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='css/aos.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a href="index.html" class="scrollto">
          <!-- <img src="{{ url_for('static', filename='img/logo1.png')}}" style="width:80px;height:80px;" alt="" title=""> -->
        </a>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#speakers">Our Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">The Future Voice Assistant<br><span>Graduation Project</span></h1>

      <form action="" method="post">
        <button class="play-mic-btn mb-4" style="border:1px solid #fff;border-radius: 50%;padding:16px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#f82249" class="bi bi-mic-fill" viewBox="0 0 16 16">
            <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
            <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
          </svg>
        </button>

      </form>
      <a href="#about" class="about-btn scrollto">Get Started</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-8 mr-5" >
            <h2 class="mb-5 pb-3" style="border-bottom: 2px solid #fff;width:350px;">About Our Project</h2>
            
            <p style="text-align:justify;width:550px;font-size:16px;">Voice control, also called voice assistance, is a user interface that allows hands-free operation of a digital device. Voice control does not require an internet connection to work. Communication is one way (person to device) and all processing is done locally. Voice control is an assistive technology that's built into most mobile operating systems. Typically, the feature is not turned on by default. Instead, the user has to look for it in settings and turn it on</p>
          </div>
          <div class="col-lg-3" >
            <h2 class="mb-5 pb-3" style="border-bottom: 2px solid #fff;">Where</h2>
            <p style="font-size:16px;">In The Future Academy</p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Speakers Section ======= -->
    <section id="speakers">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Project Team</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="{{ url_for('static', filename='img/speakers/1.jpg')}}" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="">Huda Kamal</a></h3>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img src="{{ url_for('static', filename='img/speakers/2.jpg')}}" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href="">Nada Asaad</a></h3>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img src="{{ url_for('static', filename='img/speakers/3.jpg')}}" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a href="">Abeer Reda</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End Speakers Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
       
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>TheFuture</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End  Footer -->

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='js/aos.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/glightbox.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/swiper-bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>

</body>

</html>